---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import HeadSeo from "./HeadSeo.astro";

interface Props {
	/**
	 * 页面标题
	 */
	title?: string;
	/**
	 * 页面描述
	 */
	desc?: string;
}

const { title = "ZDDQ 个人博客", desc = "记录" } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<HeadSeo title={title} description={desc} />
	</head>
	<body class="body">
		<Header />
		<slot />
		<!-- <Footer /> -->
	</body>
</html>

<style>
	.body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: #fff;
	}
</style>
